
body {
	width: 100%; font-family: Arial, Helvetica, sans-serif; display: block;
	font-size: 24px;
}
* {
	box-sizing: border-box;
}
.wrapper {

.header-box {
	width: 100%;
	padding: 10px;
	box-shadow:0 0 10px -4px rgba(0,0,0,.25);
	margin-bottom: 40px;
	#nav {
		display: flex;
		justify-content: flex-end;
		padding: 0;
		list-style: none;
		li {
			margin-left: 10px;
			a {
				 cursor: pointer;
				  color: #000;
				   font-size: 18px;
				&.active {
					color: #355e3b;
					font-weight: bold;
				}
			}	
		}
	}
}

.left-box {
	flex-basis: 20%;
	box-shadow:0 0 10px -4px rgba(0,0,0,.25);
	padding: 10px 20px;
	h2 {
		margin: 0 0 10px; font-size: 24px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		cursor: pointer;
		font-size: 16px;
		padding: 10px 0;
		&:hover {
			color: #355e3b;
			font-weight: bold;
		}
	}
}
.right-box {
	flex-basis: 80%;
	padding: 0 20px;
	.album-box {
		display: flex;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: solid 1px #eee;
		h2 {
			font-size: 18px;
		}
		img {
			margin-right: 20px;
		}
	}
}
.container {
	min-height: 500px;
	display: flex;
}
.center-box {
	max-width: 1100px; margin: 0 auto;
}

.footer-box {
	text-align: center;
	padding: 10px;
	border-top: solid 1px #eee;
	margin-top: 40px;
}

}