<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/bundle.css">
</head>
<body>
    <div class="wrapper">
        <header class="header-box">
            <ul id="nav" class="center-box">
                <li><a data-url="" class="active">Home</a></li>
                <li><a data-url="/about">About</a></li>
                <li><a data-url="/contact">Contact</a></li>
            </ul>
        </header>
        <div class="container center-box">
            <div class="left-box">
                <h2>Users</h2>
                <ul id="userBox"></ul>
            </div>
            <div class="right-box">
                <div id="container">loading...</div>
            </div>
        </div>
        <footer class="footer-box">This is footer</footer>
    </div>
   <!-- This is template for Users using Underscore template -->
    <script type="text/template" id="userTemplate">
        <% _.each(users.toJSON(),function(user){ %>
            <li><a data-url="albums/<%= user.id %>"><%= user.username %></a></li>
        <%}) %>
</script>
    <!-- This is template for Album using Mustache template -->
    <script type="text/html" id="albumTemplate">
        <div class="album-box">
            <img src="{{thumbnailUrl}}" />
            <h3>{{title}}</h3>
        </div>
    </script>
    <script src="/dist/main.js" ></script>
</body>

</html>
